/* You can add global styles to this file, and also import other style files */
*{
    padding: 0 rem;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Montserrat';
    color: #2F3847;
}
body.login-page app-header,
body.login-page app-footer {
  display: none;
}
/* ----------Colors----------  var(--primary-color); color: var(--text-color); */
:root {
  --primary-color: #1E2D5B;
  --secondary-color: #00FFFF;
  --background-color: #EBF3FE;
  --text-color: #2F3847;
  /* --success-color: #28a745;
  --error-color: #dc3545; */
}